.testimonial-section {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: start;
    background-color: var(--black) ;
    padding: 20vh 2vw;
}

.testimonial-header p {
    font-size: 84px;
    color: var(--terracota-dark);
    width: 100%;
    font-family: var(--markazi);
    margin-bottom: 10vh;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);

    gap: 2vw;
    width: 100%;
}

.testimonial-card {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color: var(--light-gray);
    max-width: 20vw;
    max-height: 60vh;
    border-radius: 5px;
    padding: 4vh 1vw;

}


.testimonial-profile img  {
    width: 100%;
    border-radius: 5px;
    max-height: 100px;
}

.testimonial-title p {
    font-size: 24px;
    font-family: var(--markazi);
}

.review-star {
    margin-top: 2vh;
}


.footer-logo img {
    width: 450px;

}